node_modules/
.github/
.deploy/
.configs/
.vscode/
.dockerignore
.gitignore
Makefile
*.txt
*.MD
seeds
.env
.DS_Store
.env.sample
.nvmrc
.qodo
.tool-versions
dev.env
testing.env
local-tests/
readme/
docker-compose*.yml
